<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>
    <section>
        <form action="" method="get">
            <div>
                <input type="file" placeholder="Foto del Producto">
            </div>
            <div>
                <input type="text" placeholder="Nombre del producto">
            </div>
            <div>
                <input type="text" placeholder="Descripcion">
            </div>
            <div>
                <input type="date" placeholder="Fecha de carga">
            </div>
            <button>
                Agregar producto
            </button>
</main>
<%- include('./partials/footer') %>