<%- include('./partials/head') %>
<%- include('./partials/header') %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">La sombra del viento</h2> 
			<p class="product-detail-description">
				<a href="product-add.html">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/sombra.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						La sombra del viento es una novela de Carlos Ruiz Zafón publicada en 2001, el primer libro de la saga del Cementerio de los libros olvidados y un superventas mundial, con más de quince millones de ejemplares vendidos en 36 idiomas diferentes.	
					</p>
				</article>
				
			</div>
		</div>
	</div>
	
	<!-- Arreglar producto detalle -->

<%- include('./partials/footer') %>