


<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
	
<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate desde aquí</h2>
			
           <section>
            <form action="" method="get">
                <div>
                    <input type="text" placeholder="Usuario">
                </div>
                <div>
                    <input type="email" placeholder="Email">
                </div>
                <div>
                    <input type="date" placeholder="Fecha de nacimieno">
                </div>
                <div>
                    <input type="number" placeholder="Dni">
                </div>
                <div>
                    <input type="password" placeholder="Password">
                </div>
                <div>
                    <input type="text" placeholder="Foto de Perfil">
                </div>
                <button>
                    Registrarme
                </button>

            </form>
           </section>     


	
</body>

</html>

<%- include('./partials/footer') %>