<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Paga como quieras</h2>
                    <p>Aceptamos todos los medios de pago y cuotas sin interés con tarjetas bancarias</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 5000</h2>
                    <p> Válido en todo el país. Consulta por envíos en el día en zona de CABA y alrededores </p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Club de fieles Lectores</h2>
                    <p>Forma parte de nuestro club de lectores y suma descuentos para tus próximas compras</p>
                </article>
            </div>
        </div>
    </div>
    <div id="final"  >
    <p>Santos Pasman,  Pedro Maldini,   Victoria Portillo</p>
    </div>
</footer>
</body>	
</html>
